<section class="roll-dialog attack-roll">
  <h1>{{label}} Attack Roll</h1>
  <p>
    <label>OCV</label>
    <input type="text" name="ocv" value="{{ocv}}" />
  </p>
  <p>
    <label>DCV</label>
    <input type="text" name="dcv" value="{{dcv}}" />
  </p>
</section>
