<section class="roll-dialog damage-roll">
  <h1>{{label}} Damage Roll</h1>
  <p>
    <label>Type</label>
    <select name="type">
      {{#select type}}
        <option value="normal">Normal</option>
        <option value="killing">Killing</option>
      {{/select}}
    </select>
  </p>
  <p>
    <label>Dice</label>
    <input type="text" name="dice" value="{{dice.full}}" />
    <select name="diceSuffix">
      {{#select dice.suffix}}
        <option value="0">d6</option>
        <option value="1">d6+1</option>
        <option value="0.5">½d6</option>
        <option value="-1">d6-1</option>
        <option value="-0.5">½d6-1</option>
      {{/select}}
    </select>
  </p>
  <p>
    <label>Add DCs</label>
    <input type="text" name="dcs" value="+0" />
  </p>
  {{#if strDcs}}
    <p>
      <label>Add STR</label>
      <input type="checkbox" name="addStr" />
    </p>
  {{/if}}
</section>
