<section class="roll-dialog knockback-roll">
  <h1>{{label}} Knockback Roll</h1>
  <p>
    <label>BODY inflicted (before defenses)</label>
    <input type="text" name="body" value="{{body}}" />
  </p>
  <p>
    <label>Modifiers</label>
    <input type="text" name="modifiers" value="{{modifiers}}" />
  </p>
</section>
