/* Shared styles */

.sheet .notes .editor-edit {
  display: block;
}

/* Character sheets */

form.character > header {
  display: grid;
}

form.character > header > img {
  grid-area: 1 / 1 / 1 / 1;
}

form.character > header > div.names-and-pronouns {
  grid-area: 1 / 2 / 3 / 9;
}

form.character > header > div.resources {
  grid-area: 4 / 1 / 5 / 9;
  display: grid;
}

form.character > header > div.resources > div.resource {
  grid-area: 1 / auto / 2 / span 3;
  display: grid;
  grid-template-columns: fr 1em fr;
}

div.resource > label {
  grid-area: 1 / 1 / 1 / 3;
  text-align: center;
}

div.resource > input {
  grid-area: 2 / auto / 2 / span 1;
}

div.resource > span {
  grid-area: 2 / auto / 2 / span 1;
  text-align: center;
}

div.characteristics {
  grid-template-columns: fr fr;
  display: grid;
  column-gap: 1em;
}

div.tab.characteristics > table.main-characteristics {
  grid-column-end: span 2;
}

div.tab.characteristics > table {
  grid-column-end: span 1;
}

/* Skill sheets */
form.skill header {
  display: flex;
  flex-direction: row;
  column-gap: 1em;
}

form.skill header > img {
  flex: 0;
}
form.skill header > .name {
  flex: 1;
  font-size: large;
}

form.skill .tab.notes {
  min-height: 200px;
}
